body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.split-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.form-part {
    flex: 1;
    background-color: #98bcdc;
    padding: 40px 20px;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    align-items: center;
}

.picture {
    flex: 1;
    background-image: url('sky.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

/* 
COLOR IS #98bcdc */

h2 {
    margin-top: 10px;
    color:white;
    text-align: center;
    margin-bottom: 10px;
}

h4 {
    margin: 5px;
}

form {
    background-color: white;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    padding: 15px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(176, 86, 86, 0.2);
}

hr{
    color: rgb(71, 74, 101);
    margin: 25px auto;
    border: none;
    border-top: #ff000000 1px dashed
}

input[type="radio"],
input[type="checkbox"] {
   margin: 10px 10px 0 0;
}

input[type="number"]{
    width: 98%;
}

select{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #0000;
    padding: 10px;
}
    
button {
    background-color: #98bcdc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
}

button:hover {
    opacity: 0.8;
}